.container {
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: var(--shadow);
  color: #707070;
  padding: 23px;
  padding-top: 20px;
  margin: 20px;
}

.title {
  font-weight: 600;
  font-size: 20px;
}
