.example{
    margin: auto;
    text-align: center;
}

.switchButton{
    margin-top: 40px;
}

.plus{
    background-color: var(--bright-green);
}

.calendar{
    background-color: var(--pale-green);
}
