.example {
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
}

.switchButton {
    margin-top: 40px;
}

.plus {
    background-color: var(--bright-green);
}

.calendar {
    background-color: var(--pale-green);
}

.icon {
    margin: 20px;
}
