.popupTitle {
  font-size: var(--xs-font-size);
  color: var(--medium-grey);
  font-weight: var(--bold-font-weight);
}

.popup .modal-content {
  background-color: var(--background-color);
  border-radius: 20px;
}

.showAnimation {
  animation-name: var(--animation-show);
  animation-duration: 0.4s;
}
