.popupTitle {
  font-size: var(--xs-font-size);
  color: var(--medium-grey);
  font-weight: var(--bold-font-weight);
}

.popup .modal-content {
  background-color: var(--background-color);
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.showAnimation {
  animation-name: var(--animation-show);
  animation-duration: 0.4s;
}
.popupBody {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  margin-bottom: 20px;
}
.popupHeader {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}