.searchContainer {
  align-self: center;
  position: absolute;
  z-index: 1;
  top: 420px;
}
.createHeader {
  font-size: var(--s-font-size);
}
.mapContainer {
  z-index: -1;
  margin-top: 40px;
}

@media only screen and (max-width: 980px) {
  .searchContainer {
    top: 435px;
  }
}

@media only screen and (max-width: 768px) {
  .searchContainer {
    top: 460px;
  }
}
