.headerJumbotron {
    background-size: cover;
    background-position: left 25%;
    height: 100vh;
    margin: 0;
    padding: 40px;
}

.headerMotto {
    font-size: var(--motto-font-size);
    font-weight: var(--bold-font-weight);
    margin-top: 25vh;
    margin-bottom: 20px;
}

.headerContainer {
    margin-left: 120px;
}

.authView {
    margin-top: 25vh;
    margin-right: 150px;
}

.tickContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}

.tickIcon {
    margin-right: 5px;
    font-size: 25px;
}

.logo {
    margin-right: 10px;
}

@media only screen and (max-width: 992px) {
    .jumbotron-fluid {
        background-position: left top;
    }

    .headerContainer {
        margin: auto;
    }

    .headerMotto {
        font-size: var(--m-font-size);
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .tickContainer {
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .authView {
        margin: auto;
    }

    .logo {
        display: none;
    }
}

@media only screen and (max-width: 330px) {
    .headerJumbotron {
        height: auto;
    }
}
