.clockIcon {
    color: var(--purple);
    margin-right: 8px;
}

.timeInfo {
    color: var(--gray);
    margin-bottom: 40px;
    text-align: center;
}

.surveyDescription {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .saveAnswersButton {
        width: 210px;
    }
}