.descriptionHeader {
    color: var(--medium-grey);
    font-weight: var(--bold-font-weight);
    margin-top: 30px;
}

.deadlineHeader {
    color: var(--medium-grey);
    font-weight: var(--bold-font-weight);
}

.container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 182px;
}

.editModeContainer {
    height: auto;
}