.textArea {
    width: 100%;
    height: 40px;
}

.questionLabel {
    color: var(--medium-grey);
    margin-right: auto;
}

.linear {
    width: 100%;
}

.dropdown {
    width: 100%;
}

.answerContainer {
    width: 40%;
}

@media only screen and (max-width: 1200px) {
    .answerContainer {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .answerContainer {
        width: 100%;
    }
}