.saveButton {
    margin-top: 50px;
}
.switchTime {
    margin-bottom: 50px;
}
.switchIcon {
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .saveButton {
        width: 210px;
    }
}
