.moduleIcon {
    color: var(--purple);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.passwordIcon {
    margin-left: 10px;
    cursor: pointer;
}

.moduleContainer {
    display: flex;
    align-items: center;
}

.onlineMeetingLink {
    color: var(--purple);
}

.onlineMeetingLink:hover {
    color: var(--purple);
}

.container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 193px;
}

.editLabel {
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.actionButtonContainer {
    text-align: right;
}

.actionButton {
    width: auto;
    padding: 10px;
}