.meetingDescriptionName {
    font-size: var(--motto-font-size);
    margin-bottom: 10px;
}

.meetingDescriptionOrganizer {
    font-size: var(--xs-font-size);
    display: inline;
    margin-right: 20px;
}

.onlineMeetingLink {
    color: var(--purple);
}

.onlineMeetingLink:hover {
    color: var(--purple);
}