.moduleIcon {
    color: var(--purple);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.passwordIcon {
    margin-left: 10px;
    cursor: pointer;
}

.moduleContainer {
    display: flex;
    align-items: center;
}

.onlineMeetingLink {
    color: var(--purple);
}

.onlineMeetingLink:hover {
    color: var(--purple);
}

.container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 420px;
}

.editLabel {
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.flexButtonsContainer {
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}

.actionButton {
    width: auto;
    padding: 10px;
    margin-left: auto;
}

.googleCalendarButtonContainer {
    margin-left: auto;
}

.googleCalendarButton {
    width: auto;
    padding-left: 10px;
    padding-right: 12px;
}

.updateButton {
    width: auto;
    padding: 10px 40px;
}

@media only screen and (max-width: 1500px) {
    .flexButtonsContainer {
        display: block;
        text-align: right;
    }

    .actionButton {
        margin-top: 10px;
    }
}
