.meetingDescriptionName {
  font-size: var(--motto-font-size);
  margin-bottom: 10px;
}

.meetingDescriptionOrganizer {
  font-size: var(--xs-font-size);
  display: inline;
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .meetingDescriptionName {
    font-size: var(--xl-font-size);
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.settingsIcon {
  margin-right: 42px;
  font-size: 30px;
  transition-duration: 1s;
  transition-property: transform;
  color: var(--medium-grey);
}

.settingsIcon:hover {
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  cursor: pointer;
}

.detailsIcon {
  margin-right: 42px;
  font-size: 30px;
  transition-duration: 1s;
  transition-property: transform;
  color: var(--medium-grey);
}

.detailsIcon:hover {
  animation: var(--animation-shake) 1s;
  cursor: pointer;
}

.canceledMeetingInfo {
  color: var(--light-red);
  font-weight: var(--bold-font-weight);
}
