.userIcon {
    width: 34px;
    height: 34px;
    border: none;
    display: inline-block;
    text-align: center;
    font-size: var(--s-font-size);
    border-radius: 50%;
    box-shadow: var(--shadow);
    background-color: var(--purple);
}

.userIconParticipantName {
    font-size: var(--xs-font-size);
    display: inline;
}

.userIconOrganizerName {
    font-weight: var(--bold-font-weight);
}

.deleteUserButton {
    font-size: 30px;
    color: var(--light-red);
}

.deleteUserButton:hover {
    cursor: pointer;
}

.pendingStatus {
    font-size: 30px;
    color: var(--purple);
}

.acceptedStatus {
    font-size: 30px;
    color: var(--bright-green);
}

.rejectedStatus {
    font-size: 30px;
    color: var(--light-red);
}