.userIconParticipantName {
    font-size: var(--xs-font-size);
    display: inline;
    margin-left: 10px;
}

.deleteUserButton {
    font-size: var(--m-font-size);
    color: var(--light-red);
    margin-left: 10px;
}

.deleteUserButton:hover {
    cursor: pointer;
}