.multiValueInput {
    font-size: var(--button-font-size);
    box-shadow: var(--shadow);
    text-align: left;
    color: var(--primary);
    margin: auto;
    border-radius: var(--border-radius);
    border: 1px solid var(--very-light-grey);
}

.multiValueInput:focus {
    outline: none !important;
}