.container {
  display: flex;
}

.checkbox {
  width: 25px;
  height: 25px;
  border: 1px solid #e0dbdb;
  box-shadow: var(--shadow);
  border-radius: 5px;
  border-color: var(--purple);
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.square {
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}

.checkedSquare {
  background-color: var(--purple);
}

.checkboxLabel {
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }

  .checkboxLabel {
    margin-left: 0;
    margin-top: 10px;
  }
}
