.container {
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--shadow);
  color: var(--gray);
  padding: 15px 15px 15px;
  margin: 15px;
  max-width: 400px;
  width: 400px;
  height: max-content;
}

.title {
  text-align: left !important;
  font-weight: 600;
  font-size: 18px;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
}

.hrLine {
  min-height: 1px !important;
  height: 1px !important;
  margin: 5px;
}

.shake:hover {
  animation: var(--animation-shake) 1s;
  cursor: pointer;
}

.pencilIcon {
  margin-top: 3px;
  font-size: 25px;
}

.pencilIcon:hover {
  animation: var(--animation-shake) 1s;
  opacity: 0.8;
  cursor: pointer;
}

.footer {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}

.userIcon {
  position: absolute;
}

.currentUserIcon {
  position: absolute;
}
.assignedContainer {
  position: relative;
}
.assignMe {
  position: absolute;
  top: 2px;
  left: 2px;
}
.assignMeButton {
  color: var(--dark-grey);
}
.assignMeButton:hover {
  opacity: 1;
}

.currentUserLetter {
  opacity: 0.8;
}

.editDeclarationForm {
  text-align: left;
  color: var(--gray);
}

.titleLabel {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}

.formLabel {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0;
}
.formButtonContainer {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
