.hidden {
    display: none;
}

.createHeader {
    font-size: var(--s-font-size);
}

.meetingDates {
    display: flex;
    justify-content: space-between;
}

.selectedDays {
    display: none;
}

@media only screen and (min-width: 768px) {
    .selectedDays {
        display: block;
        text-align: left;
        min-width: 200px;
        margin-left: 50px;
        width: 100%;
        height: 340px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.datesHeader {
    font-weight: 600;
    font-size: 17px;
}

.deleteCross {
    transform: rotate(45deg);
    color: var(--light-red);
    font-size: 30px;
    border-radius: 100%;
    cursor: pointer;
}

.deleteCross:hover {
    opacity: 0.7;
}

.dateRow {
    display: flex;
    justify-content: space-between;
}

.hrLine {
    margin-top: 5px;
    margin-bottom: 5px;
}
