.modulesHeader {
    font-size: var(--s-font-size);
}

.moduleLegend {
    color: var(--gray);
    font-size: 12px;
    margin: 10px 100px 20px;
}

.legendIcon {
    margin-left: 10px;
    color: var(--primary);
    cursor: pointer;
}

.modulesContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
    margin-right: 20px;
    margin-left: 20px;
}

.modulesContainer::-webkit-scrollbar {
    display: none;
}

.modulesContainer > div {
    display: flex;
    flex-display: row;
}

.modulesContainer > div > div {
    margin: 10px 10px 10px 20px;
}

.modulesContainer > div > div:first-child {
    margin-left: 0;
}

@media only screen and (max-width: 600px) {
    .chooseModulesButton {
        width: 210px;
    }
}