.meetingModuleContainer {
    display: block;
    width: 250px;
    height: 320px;
    min-width: 250px;
    min-height: 320px;
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    text-align: center;
    padding: 15px;
    cursor: pointer;
    margin: auto;
    position: relative;
}

.meetingModuleContainer:hover {
    opacity: 0.8;
}

.moduleDescription {
    color: var(--gray);
    font-size: 14px;
    margin: 5px;
}

.tick {
    color: var(--bright-green);
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}