.wrapper {
    padding: 40px;
    text-align: center;
    width: auto;
    margin: 0 auto;
}

.item {
    position: relative;
    margin-top: 10px;
    width: 100%;
}

.item:first-child {
    margin-left: -60px;
}

.item:last-child {
    margin-right: -75px;
}

.item::after {
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    position: absolute;
    border-radius: 10px;
    top: -18px;
    left: 50%;
    transform: translatex(-50%);
    border: 2px solid var(--purple);
}

.chosenItem::after {
    background-color: var(--purple);
}

.items {
    border-top: 2px solid var(--purple);
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.itemButton {
    border: none;
    background-color: var(--background-color);
    margin: 0 25px;
}

.itemContainer {
    display: flex;
    align-items: center;
}

.filledIcon {
    color: var(--bright-green);
    margin-left: 5px;
}

@media (max-width: 980px) {
    .itemButton {
        margin: 0 20px;
    }

    .item:first-child {
        margin-left: -45px;
    }

    .item:last-child {
        margin-right: -65px;
    }
}

@media (max-width: 720px) {
    .wrapper {
        padding: 10px;
    }

    .items {
        display: block;
        border-top: none;
    }

    .item {
        margin-right: 10px;
        margin-top: 5px;
    }

    .item::after {
        left: 0;
        top: 8px;
    }

    .item::before{
        margin-right: 10px;
    }

    .item:first-child {
        top: 50%;
        margin-left: 0;
    }

    .item:last-child {
        top: -50%;
        margin-right: 0;
    }
}