.navbarContainer {
    display: flex;
    align-items: center;
}

.wrapper {
    padding: 40px;
    text-align: center;
    width: auto;
    margin: 0 auto;
    grid-area: navbarItems;
}

.leftArrow {
    grid-area: leftArrow;
    margin-bottom: 25px;
    margin-right: 8px;
}

.rightArrow {
    grid-area: rightArrow;
    margin-bottom: 25px;
    margin-left: 8px;
}

.invisible {
    visibility: hidden;
}

.item {
    position: relative;
    margin-top: 10px;
    width: auto;
}

.item:first-child {
    margin-left: -72px;
}

.item:last-child {
    margin-right: -75px;
}

.item::after {
    content: "";
    width: 18px;
    height: 18px;
    background: white;
    position: absolute;
    border-radius: 10px;
    top: -20px;
    left: 50%;
    transform: translatex(-50%);
    border: 3px solid var(--purple);
}

.chosenItem::after {
    background-color: var(--purple);
}

.items {
    border-top: 3px solid var(--purple);
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.itemButton {
    border: none;
    background-color: var(--background-color);
    margin: 0 25px;
}

.itemContainer {
    display: flex;
    align-items: center;
}

.chosenItemContainer {
    font-weight: var(--bold-font-weight);
}

.filledIcon {
    color: var(--bright-green);
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

@media (max-width: 1180px) {
    .navbarContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
    'navbarItems navbarItems'
    'leftArrow rightArrow';
    }

    .wrapper {
        padding: 10px;
        text-align: left;
        margin-left: 50px;
    }

    .items {
        display: block;
        border-top: none;
    }

    .item {
        margin-right: 10px;
        margin-top: 5px;
    }

    .item::after {
        left: 0;
        top: 8px;
    }

    .item::before{
        margin-right: 10px;
    }

    .item:first-child {
        top: 50%;
        margin-left: 0;
    }

    .item:last-child {
        top: -50%;
        margin-right: 0;
    }

    .leftArrow {
        margin-left: 50px;
    }

    .rightArrow {
        margin-right: 50px;
    }
}