.createHeader {
    font-size: var(--s-font-size);
}

.messageSuccess {
    color: var(--bright-green);
    font-size: medium;
}

.messageFailed {
    color: var(--light-red);
    font-size: medium;
}

.hidden {
    display: none;
}