.questionField {
    text-align: right;
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin: 2%;
    padding: 20px;
}

.questionTextArea {
    width: 100%;
    height: 80px;
}