.personIcon {
    width: 45px;
    height: 45px;
    border: none;
    display: inline-block;
    text-align: center;
    font-size: var(--m-font-size);
    border-radius: var(--circle-border-radius);
    box-shadow: var(--shadow);
    margin: 0 15px;
}

.personIcon:focus {
    outline: none;
}

.personIcon1 {
    background-color: var(--light-purple);
}

.personIcon2 {
    background-color: #FFD05A;
}

.personIcon3 {
    background-color: var(--purple);
}
