.option {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.circle {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.deleteButton {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.addOptionButton {
    background-color: var(--bright-green);
    width: 34px;
    height: 34px;
    font-size: var(--xs-font-size);
    margin-left: 20px;
}

.optionsText{
    color: var(--medium-grey);
    font-size: 18px;
}

.optionInput {
    width: 320px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .optionInput {
        width: 200px;
        display: block;
        text-align: right;
    }

    .addOptionButton {
        margin-top: 12px;
    }
}