.removeOptionButton {
    color: var(--light-red);
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.addOptionButton {
    background-color: var(--bright-green);
    width: 34px;
    height: 34px;
    font-size: var(--xs-font-size);
    margin-left: 20px;
}

.optionsText{
    color: var(--medium-grey);
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .addOptionButton {
        margin-left: 0;
        margin-top: 12px;
    }
}