.button {
    display: block;
    position: fixed;
    bottom: 20px;
    z-index: 1100;
}

.positionRight {
    right: 20px;
}

.positionLeft {
    left: 20px;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.hamburgerIcon {
    color: white;
    background-color: var(--purple);
}
