.button {
  display: block;
  position: fixed;
  bottom: 20px;
  z-index: 1100;
  top: 19px;
  z-index: 1;
}

.positionRight {
  margin-left: -33px;
  transition: margin 0.5s;
}

.positionLeft {
  margin-left: 46px;
  transition: margin 0.5s;
}

.positionExtendedLeft {
  margin-left: 235px;
  transition: margin 0.3s;
}

.button:hover {
  cursor: pointer;
}

.hamburgerIcon {
  color: white;
  background-color: var(--primary);
  padding-left: 25px;
  box-shadow: none;
}

.hamburger {
  width: 20px;
}
.hamburger:hover {
  animation: var(--animation-shake) 1s;
}
