.icon {
    width: 60px;
    height: 60px;
    border: none;
    text-align: center;
    color: var(--bright-green);
    background-color: white;
    font-size: var(--l-font-size);
    border-radius: 50%;
    padding: 12px;
    box-shadow: 4px 4px 8px -2px rgba(90,70,69,0.5);
}
  
.icon:focus {
    outline: none;
}
