.icon {
    width: 60px;
    height: 60px;
    border: none;
    display: inline-block;
    text-align: center;
    color: var(--bright-green);
    background-color: white;
    font-size: var(--l-font-size);
    border-radius: 50%;
    box-shadow: var(--shadow);
}
  
.icon:focus {
    outline: none;
}
