.userIcon {
    width: 34px;
    height: 34px;
    min-width: 34px !important;
    border: none;
    display: inline-block;
    text-align: center;
    font-size: var(--s-font-size);
    border-radius: var(--circle-border-radius);
    box-shadow: var(--shadow);
    background-color: var(--purple);
    color: white;
}