.userIconParticipantName {
    display: inline;
    margin-left: 10px;
}

.pendingStatus {
    font-size: var(--m-font-size);
    color: var(--primary);
    margin-left: 10px;
}

.rejectedStatus {
    font-size: var(--m-font-size);
    color: var(--light-red);
    margin-left: 10px;
}

.userNameIconContainer {
    display: flex;
    align-items: center;
}