.userIcon {
    width: 34px;
    height: 34px;
    min-width: 34px !important;
    border: none;
    display: inline-block;
    border-radius: var(--circle-border-radius);
    box-shadow: var(--shadow);
}