.hrLine {
    min-height: 1px !important;
    height: 1px !important;
    color: var(--gray);
    margin: 40px 20px 0;
}

.navigationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollButton {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .saveMeetingButton {
        width: 210px;
    }

    .hrLine {
        margin: 40px 60px 0;
    }
}
