.legendIcon {
    margin-left: 10px;
    color: var(--purple);
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.navbarLegend {
    position: fixed;
    right: 40px;
    bottom: 10px;
    color: var(--gray);
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .saveMeetingButton {
        width: 210px;
    }
}