.addPlaceDetailsForm {
  text-align: left;
  color: var(--gray);
}
.titleLabel {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
}
.formLabel {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0;
}
.buttonContainer {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.addressLabel {
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
}
