.button {
    box-shadow: var(--shadow);
    transform: scaleX(1.4) scaleY(1.4);
    position: relative;
}
.label {
    margin-left: 22px;
    text-align: center;
    font-size: 18px;
    margin-top: 7px;
}
.switchContainer {
    justify-content: center;
    margin-top: 30px;
}