.welcomeHeader {
  font-size: var(--m-font-size);
  margin-bottom: 10px;
  color: var(--medium-grey);
}

.noMeetingsInfo {
  grid-area: upcomingMeetings;
  font-size: var(--s-font-size);
  margin: auto auto 50px;
  width: 490px;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.letterIcon {
  margin-right: 10px;
}

.declarations {
  grid-area: declarations;
  justify-self: center;
}

.invitations {
  grid-area: invitations;
  justify-self: center;
}

.surveys {
  grid-area: surveys;
  justify-self: center;
}

.todayMeetings {
  grid-area: todayMeetings;
  justify-self: center;
  width: 300px;
  margin: 10px 0 0 0;
}

.upcomingMeetings {
  grid-area: upcomingMeetings;
  margin-top: 10px;
}

.homePageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'upcomingMeetings upcomingMeetings upcomingMeetings upcomingMeetings todayMeetings'
    'moduleCards moduleCards moduleCards moduleCards todayMeetings'
    '. . . . todayMeetings';
}

.moduleCards {
    grid-area: moduleCards;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    flex-wrap: wrap;
}
@media only screen and (max-width: 1300px) {
  .homePageContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'upcomingMeetings upcomingMeetings upcomingMeetings'
      'moduleCards moduleCards moduleCards'
      '. todayMeetings .';
  }
}

@media only screen and (max-width: 910px) {
  .welcomeHeader {
    font-size: var(--xs-font-size);
  }

  .todayMeetings {
      margin-left: 30px;
  }
  .homePageContainer {
    display: block;
  }

  .noMeetingsInfo {
    display: none;
  }

  .todayMeetings {
    width: 250px;
  }
}
.arrowRight {
  position: relative;
  top: -70px;
}

.arrowLeft {
  position: relative;
  top: -70px;
}

.arrowSet {
  display: flex;
  justify-content: center;
}
