.welcomeHeader {
    font-size: var(--m-font-size);
    margin-bottom: 10px;
    color: var(--medium-grey);
}

@media only screen and (max-width: 600px) {
    .welcomeHeader {
        font-size: var(--xs-font-size);
    }
}