:root {
    --purple: #7067CF;
    --light-purple: rgba(200, 197, 243, 0.788);
    --bright-green: #4FE379;
    --pale-green: #598882;
    --dark-grey: #2E3738;

    --background-color: #F5F5F5;

    --medium-grey: #707070;

    --light-yellow: #E3DE4F;
    --light-red: #E35E4F;
    --light-grey: #B1B1B1;
    --medium-red: #d33a3a;

    --purple-1:#a7a4ce;
    --purple-2:#918bd1;
    --purple-3:#766ed1;
    --purple-4:#645ad4;
    --purple-5:#4538d3;
    --purple-6:#3022cf;
    --purple-7:#1201d1;
  }
