:root {
    --xs-font-size: 18px;
    --s-font-size: 22px;
    --m-font-size: 30px;
    --l-font-size: 34px;
    --xl-font-size: 40px;

    --header-font-size: 34px;
    --motto-font-size: 44px;
    --button-font-size: 16px;

    --bold-font-weight: 700;
    --normal-font-weight: 500; 
    --shadow: 4px 4px 8px -2px rgba(90,70,69,0.5);
    --border-radius: 10px;
    --circle-border-radius: 50%;
}
