.authView {
    background-color: white;
    width: 360px;
    height: 300px;
    box-shadow: var(--shadow);
    border-radius: 5%;
}

@media only screen and (max-width: 600px) {
    .authView {
        width: 320px;
    }
}