.footer {
    background: var(--purple);
    color: white;
}

.footerLine {
    margin-top: 6vh;
    border-top: 1px solid white;
    color: white;
    text-align: center;
}

p {
    font-size: 18px;
}

p img {
    height: 16px;
}

.copyright {
    font-size: 10px;
}
