.footer {
    background: var(--purple);
    color: white;
    margin: 0;
    padding: 0;
}

.footerLine {
    margin-top: 6vh;
    border-top: 1px solid white;
    color: white;
    text-align: center;
}

.footerLogo {
    font-size: 18px;
}

.footerLogoImg {
    height: 16px;
    margin-right: 5px;
}

.copyright {
    font-size: 10px;
    margin-top: 20px;
}
