.footer {
    background: var(--primary);
    color: white;
    margin: 0;
    padding: 0;
}

.footerLogo {
    font-size: var(--xs-font-size);
    display: flex;
    align-items: center;
}

.footerLogoImg {
    height: 20px;
    margin-right: 5px;
}

.copyright {
    font-size: 15px;
}
