.footer {
    background: var(--purple);
    color: white;
    margin: 0;
    padding: 0;
}

.footerLogo {
    font-size: var(--xs-font-size);
}

.footerLogoImg {
    height: 16px;
    margin-right: 5px;
}

.copyright {
    font-size: 10px;
    margin-top: 20px;
}
