.meetingParticipantsTotalMembers {
    font-size: var(--s-font-size);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.meetingInvitations {
    font-size: var(--s-font-size);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.inviteButton {
    margin-top: 50px;
}

.selectedParticipants {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100px;
}

.participantRow {
    display: flex;
    justify-content: space-between;
}

.userNameIcon {
    display: flex;
}

.deleteContainer {
    width: 30px !important;
    height: 30px !important;
}

.hrLine {
    margin-top: 5px;
    margin-bottom: 5px;
}

.actionButtonContainer {
    text-align: right;
}

.actionButton {
    width: auto;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .inviteButton {
        width: 210px;
    }
}