.tickIcon {
    color: var(--secondary);
    width: 40px;
    height: 40px;
}

.envelopeIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.plusIcon {
    transform: rotate(45deg);
    color: var(--light-red);
    width: 40px;
    height: 40px;
}

.number {
    font-size: 30px;
}

.item {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.description {
    font-size: 15px;
}

.itemContainer {
    cursor: pointer;
    opacity: 0.5;
}

.chosenItem {
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .container {
        display: block;
        text-align: center;
        margin: auto auto 20px;
    }

    .item {
        justify-content: center;
    }
}