.acceptRejectContainer {
    display: flex;
    align-items: center;
}

.invitationsTable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
}

@media only screen and (max-width: 600px) {
    .invitationsTable {
        height: 400px;
    }
}