.editMode {
    display: flex;
    justify-content: left;
}

.buttonAction {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.buttonContainer {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}