.dropdown {
    width: 320px;
    background-color: var(--purple);
    font-size: var(--button-font-size);
    box-shadow: var(--shadow);
    border-color: var(--purple);
    text-align: center;
    margin: auto;
    padding: 1px;
    border-radius: 10px;
}

