.dropdown {
    width: 320px;
    font-size: var(--button-font-size);
    box-shadow: var(--shadow);
    padding: 1px;
    border-radius: var(--border-radius);
}

.dropdown_invalid {
    width: 320px;
    background-color: var(--medium-red);
    font-size: var(--button-font-size);
    box-shadow: var(--shadow);
    border-color: var(--medium-red);
    padding: 1px;
    border-radius: var(--border-radius);
}
.invalid_text {
    color: var(--medium-red);
}

.label {
    color: var(--gray);
    font-size: 18px;
    margin-bottom: 10px;
}