.fbButton {
    background-color: #3b5998;
    color: white;
}

.fbIcon {
    color: white;
    font-size: var(--m-font-size);
    margin-right: 25px;
}

@media only screen and (max-width: 600px) {
    .fbIcon {
        margin-right: 5px;
    }
}
