@import './css/tokens/colors.css';
@import './css/tokens/fonts.css';
@import './css/tokens/animations.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-bootstrap-range-slider/dist/react-bootstrap-range-slider.css';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* for Firefox */
input[type='range'].range-slider.range-slider--secondary::-moz-range-thumb {
  background: var(--light-purple) !important;
}

input[type='range'].range-slider::-moz-range-track {
  background: var(--purple) !important;
}

/* for Chrome and Edge*/
input[type='range'].range-slider.range-slider--secondary::-webkit-slider-runnable-track {
  background: var(--light-purple) !important;
}

input[type='range'].range-slider::-webkit-slider-thumb {
  background: var(--purple) !important;
}

/* for Internet Explorer */
input[type='range'].range-slider.range-slider--secondary::-ms-thumb {
  background: var(--light-purple) !important;
}

input[type='range'].range-slider::-ms-fill-lower {
  background: var(--purple) !important;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: var(--bright-green) !important;
}

.ReactCollapse--collapse {
  transition: height 1s;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: var(--purple) !important;
}

html {
  scroll-behavior: smooth;
}

.carousel-control-next:hover {
  cursor: default !important;
}
.carousel-control-prev:hover {
  cursor: default !important;
}
.carousel-indicators {
  bottom: -30px;
}
.carousel-indicators > li {
  background-color: #212529 !important;
}