.noMeetingButton {
    margin-top: 30px;
}

.meetingsTable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
}

.meetingRow {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .meetingsTable {
        height: 400px;
    }

    .noMeetingButton {
        width: 210px;
    }
}