.text_area_classic{
    background-color: #FFFFFF;
    font-size: var(--button-font-size);
    box-shadow: var(--shadow);
    border-color: #707070;
    border-width: 1px;
    text-align: left;
    color: #707070;
    margin: auto;
    padding: 7px;
    border-radius: 5px;
    width: 300px;
    height: 150px;
}

.label_classic{
    color: #707070;
}

