.text_area_classic {
    background-color: white;
    font-size: var(--button-font-size);
    box-shadow: var(--shadow);
    border: 1px solid var(--purple);
    text-align: left;
    color: var(--medium-grey);
    margin: auto;
    padding: 7px;
    border-radius: var(--border-radius);
    width: 300px;
    height: 150px;
    overflow: hidden;
}

.text_area_classic:focus{
    outline: none !important;
    border: 2px solid var(--purple);
}

.label_classic {
    color: var(--medium-grey);
}

.text_area_classic_invalid {
    background-color: white;
    font-size: var(--button-font-size);
    box-shadow: var(--shadow);
    border: 1px solid var(--medium-red);
    text-align: left;
    color: var(--medium-grey);
    margin: auto;
    padding: 7px;
    border-radius: var(--border-radius);
    width: 300px;
    height: 150px;
}

.text_area_classic_invalid:focus {
    outline: none !important;
    border: 2px solid var(--medium-red);
}

.invalid_text {
    color: var(--medium-red);
}

@media only screen and (max-width: 600px) {
    .text_area_classic {
        width: 210px;
    }

    .text_area_classic_invalid {
        width: 210px;
    }
}
